target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/jte-classes/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### SQLite Database Files ###
sqlite.db
sqlite.db-shm
sqlite.db-wal

### Agent Specifications ###
# If you need one, please generate your own from the documentation.
# If you are not happy with the generated outcome, please consider adjusting the documentation.
[Aa][Gg][Ee][Nn][Tt][Ss].[Mm][Dd]
[Cc][Ll][Aa][Uu][Dd][Ee].[Mm][Dd]

### Misc ###
docker/re-director-data/