spring:
  devtools:
    add-properties: true
    restart:
      enabled: true
      exclude: resources/**,web-inf/**
      additional-paths: /src/main/jte
    livereload:
      enabled: true

management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

gg:
  jte:
    developmentMode: true
    usePrecompiledTemplates: false