spring:
  datasource:
    url: jdbc:sqlite:/data/sqlite.db
  devtools:
    add-properties: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    info:
      show-details: when_authorized
      roles: ADMIN
    health:
      show-details: when_authorized
      roles: ADMIN

server:
  port: 80

logging:
  level:
    root: WARN

org:
  jooq:
    no-tips: true