spring:
  application:
    name: re:Director

  datasource:
    url: jdbc:sqlite:sqlite.db
    username: sa
    password: sa
    driverClassName: org.sqlite.JDBC

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  http:
    encoding:
      charset: UTF-8
      force: true

  devtools:
    add-properties: false
    restart:
      enabled: false

management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health,info
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
      show-details: when_authorized
      roles: ADMIN
      probes:
        enabled: true

server:
  tomcat:
    max-http-request-header-size: 8KB
    uri-encoding: UTF-8
  error:
    path: /error
    include-exception: true
    include-message: ALWAYS
    include-stacktrace: NEVER
    whitelabel:
      enabled: false