<footer class="container" style="position: sticky; top: 100vh;">
    <hr>
    <div class="grid" style="text-align: center;">
        <div>
            <h3>
                re:Director
            </h3>
        </div>
        <div>
            <small>
                Manage Redirects Like a Pro
            </small>
        </div>
        <div>
            <a href="https://re-director.github.io/"><i class="fa-solid fa-globe" title="Website"></i></a>
            <a href="https://github.com/re-Director/re-director"><i class="fa-brands fa-github" title="Sources"></i></a>
        </div>
    </div>
</footer>