<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>re:Director</title>
    <link rel="icon" href="/img/re-director.svg" type="image/svg+xml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <span th:replace="~{fragments/general/css.html}"></span>

</head>
<body>
<span th:replace="~{fragments/nav.html}"></span>

<main class="container" style="padding-top: 1.5em;">
    <div style="text-align: center;">
        <h1>
            Oops!
        </h1>
        <h6>
            An error occured.
        </h6>
        <p>
            <small>
                In case the error persists, please open an issue on GitHub.<br />
                Make sure to include the following data and steps to reproduce.
            </small>
        </p>
    </div>
    <div style="text-align: left;">
        <small>
            Status: <code th:text="${status}"></code>
            <br/>
            Error: <code th:text="${error}"></code>
            <br/>
            Exception: <code th:text="${exception}"></code>
            <br/>
            Message: <code th:text="${message}"></code>
        </small>
    </div>
</main>

<span th:replace="~{fragments/footer.html}"></span>
<span th:replace="~{fragments/general/js.html}"></span>
</body>
</html>
