<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>re:Director</title>
        <link rel="icon" href="/img/re-director.svg" type="image/svg+xml">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <span th:replace="~{fragments/general/css.html}"></span>
    </head>
    <body>
        <span th:replace="~{fragments/nav.html}"></span>

        <main class="container" style="padding-top: 1.5em;">
            <div style="text-align: center;">
                <h1>
                    Your Redirects
                </h1>
                <div class="grid">
                    <div>
                        <form action="/redirects"  method="get">
                            <fieldset role="group">
                                <select id="status-input-filter" name="status" aria-label="Status">
                                    <option value="" th:selected="${param.status == null || param.status[0] == ''}">All Status</option>
                                    <option value="ACTIVE" th:selected="${param.status != null && param.status[0] == 'ACTIVE'}">Active</option>
                                    <option value="INACTIVE" th:selected="${param.status != null && param.status[0] == 'INACTIVE'}">Inactive</option>
                                </select>
                                <input id="search-input-filter" name="search" placeholder="Filter" autocomplete="search" th:value="${param.search}"/>
                                <button id="button-filter">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    <div style="text-align: right;">
                        <button id="create-button" data-target="modal-create-redirect" onclick="toggleModal(event)">
                            <i class="fa-solid fa-plus"></i> Create
                        </button>
                    </div>
                </div>
                <div class="grid">
                        <div>
                            <b>Source</b>
                        </div>
                        <div>
                            <b>Target</b>
                        </div>
                        <div>
                            <b>HTTP Status Code</b>
                        </div>
                        <div>
                            <b>Status</b>
                        </div>
                        <div>
                            <b>Actions</b>
                        </div>
                </div>
                <hr style="height: 1px; background-color: black; border: none;">
                <div class="grid" th:if="${redirects.empty}">
                    No Redirects found
                </div>
                <span th:each="redirect, iterStat : ${redirects}">
                    <div class="grid" th:id="${'table-element-' + iterStat.index}">
                        <div id="source">
                            <span th:text="${redirect.source}">Source</span>
                        </div>
                        <div id="target">
                            <a th:text="${redirect.target}" th:href="${redirect.target}">Target</a>
                        </div>
                        <div th:switch="${redirect.httpStatusCode}" id="httpStatusCode">
                            <span th:case="301" title="Moved Permanently">301</span>
                            <span th:case="302" title="Found">302</span>
                            <span th:case="307" title="Temporary Redirect">307</span>
                            <span th:case="308" title="Permanent Redirect">308</span>
                            <span th:case="*">Unknown</span>
                        </div>
                        <div id="status">
                            <span th:if="${redirect.status.name() == 'ACTIVE'}">
                               <i class="fa-solid fa-circle-check pico-color-green-200" title="Active"></i>
                            </span>
                            <span th:if="${redirect.status.name() == 'INACTIVE'}">
                               <i class="fa-solid fa-square-xmark pico-color-red-400" title="Inactive"></i>
                            </span>
                        </div>
                        <div>
                            <span id="edit-button" th:data-target="${'modal-update-redirect-' + redirect.id}" onclick="toggleModal(event)">
                                <i class="fa-solid fa-pen pico-color-slate-300" style="margin-right: 0.5em;" title="Edit"></i>
                            </span>
                            <form th:if="${redirect.status.name() == 'INACTIVE'}" method="POST" style="display: inline-block;" action="#" th:action="@{/redirects/{id}/status/ACTIVE(id=${redirect.id})}">
                                <button id="activate-button" type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                    <i class="fa-solid fa-play pico-color-jade-200" style="margin-right: 0.5em;" title="Start"></i>
                                </button>
                            </form>
                            <form th:if="${redirect.status.name() == 'ACTIVE'}" method="POST" style="display: inline-block;" action="#" th:action="@{/redirects/{id}/status/INACTIVE(id=${redirect.id})}">
                                <button id="deactivate-button" type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                    <i class="fa-solid fa-pause pico-color-yellow-300" style="margin-right: 0.5em;" title="Pause"></i>
                                </button>
                            </form>
                            <form method="POST" style="display: inline-block;" action="#" th:action="@{/redirects/{id}/delete(id=${redirect.id})}">
                                <button id="delete-button" type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                    <i class="fa-solid fa-trash pico-color-red-300" title="Delete"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <hr th:unless="${iterStat.last}" style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 0.8em; margin-bottom: 0.8em">
                </span>
                <hr style="height: 1px; background-color: black; border: none;">
                <div class="grid" th:unless="${redirects.empty}">
                    <div style="text-align: left;">
                        Showing <b th:text="${'1-' + redirects.size}">1-10</b> of <b th:text="${redirects.size}">1000</b>
                    </div>
                </div>
            </div>
        </main>

        <span th:replace="~{fragments/footer.html}"></span>

        <dialog id="modal-create-redirect"
                th:attr="open=${isCreatePage != null && isCreatePage ? '' : null}"
                data-url-addition="/create"
        >
            <article>
                <header>
                    <button aria-label="Close" rel="prev" data-target="modal-create-redirect" onclick="toggleModal(event)"></button>
                    <h3>Create Redirect</h3>
                </header>
                <form action="/redirects/create" method="post" th:object="${createRedirectRequest}">
                    <input id="source-input-create-modal" type="text" placeholder="Source" th:field="*{source}">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></div>
                    <input id="target-input-create-modal" type="url" placeholder="Target" th:field="*{target}" required minlength="1">
                    <select id="status-code-input-create-modal" th:field="*{httpStatusCode}" aria-label="Select a Redirect HTTP Status Code" required>
                        <option disabled value="404">Select a Redirect HTTP Status Code</option>
                        <option selected value="301">301: Moved Permanently</option>
                        <option value="302">302: Found</option>
                        <option value="307">307: Temporary Redirect</option>
                        <option value="308">308: Permanent Redirect</option>
                    </select>
                    <footer>
                        <button role="button" class="secondary" data-target="modal-create-redirect" onclick="toggleModal(event)">
                            Cancel
                        </button>
                        <button autofocus id="confirm-button-create-modal">
                            Confirm
                        </button>
                    </footer>
                </form>
            </article>
        </dialog>
        <dialog th:each="redirect : ${redirects}"
                th:id="${'modal-update-redirect-' + redirect.id}"
                th:attr="open=${editPageId != null && editPageId == redirect.id ? '' : null}"
                th:data-url-addition="${'/edit/' + redirect.id}"
        >
            <article>
                <header>
                    <button aria-label="Close" rel="prev" th:data-target="${'modal-update-redirect-' + redirect.id}" onclick="toggleModal(event)"></button>
                    <h3>Update Redirect</h3>
                </header>
                <form action="#" method="post" th:action="@{/redirects/edit/{id}(id=${redirect.id})}" th:object="${createRedirectRequest}">
                    <input id="source-input-edit-modal" type="text" placeholder="Source" name="source" th:value="${redirect.source}" required minlength="1">
                    <input id="target-input-edit-modal" type="url" placeholder="Target" name="target" th:value="${redirect.target}" required minlength="1">
                    <select id="status-code-input-edit-modal" th:field="*{httpStatusCode}" aria-label="Select a Redirect HTTP Status Code" required>
                        <option disabled value="404" th:selected="${redirect.httpStatusCode == null}">Select a Redirect HTTP Status Code</option>
                        <option value="301" th:selected="${redirect.httpStatusCode == 301}">301: Moved Permanently</option>
                        <option value="302" th:selected="${redirect.httpStatusCode == 302}">302: Found</option>
                        <option value="307" th:selected="${redirect.httpStatusCode == 307}">307: Temporary Redirect</option>
                        <option value="308" th:selected="${redirect.httpStatusCode == 308}">308: Permanent Redirect</option>
                    </select>

                    <footer>
                        <button role="button" class="secondary" th:data-target="${'modal-update-redirect-' + redirect.id}" onclick="toggleModal(event)">
                            Cancel
                        </button>
                        <button autofocus id="confirm-button-edit-modal">
                            Confirm
                        </button>
                    </footer>
                </form>
            </article>
        </dialog>

        <span th:replace="~{fragments/general/js.html}"></span>
    </body>
</html>
