name: Tests

on:
  push:
    branches: [ "master"]
    paths-ignore:
      - 'doc/**'
      - 'docker/**'
      - '.run/**'
      - 'README.md'

env:
  DOCKER_HUB_USER: ${{ secrets.DOCKER_HUB_USER }}
  DOCKER_HUB_KEY: ${{ secrets.DOCKER_HUB_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'zulu'
        cache: maven

    - name: Set up Maven Cache
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: maven-${{ runner.os }}-
        #${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          maven-${{ runner.os }}-

    - name: Build with Maven
      run: ./mvnw --batch-mode clean verify
